* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3f3f3;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .04em;
    color: #333300;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 80%;
    max-width: 1120px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    margin-top: 10px;
}

header {
    background-image: url("img/header.png");
    background-color: #cccccc;
}

main {
    grid-column: span 3;
    padding: 10px;
}

footer {
    background-color: #406661;
}

header, footer {
    grid-column: span 3;
    color: #333300;
    text-align: center;
    height: 200px;
}

.logo {
    text-align: left;
}
.logo img {
    width: 200px;
    height: 200px;
    animation: rotatelogo 3s linear running;
}
@keyframes  rotatelogo {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

nav {
    background-color: #57d131;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
}
.navigation li {
    float: left;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.navigation li a:hover {
    background-color: #406661;
}

.navigation li .active {
    background-color: #406661;
}

.headline {
    grid-column: span 3;
    color: #333300;
    padding: 0 0 0 10px;
    height: 30px;
}

.list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.item {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: left;
}
.item img {
    max-width: 100%;
    height: auto;
}

.item a {
    text-decoration: none;
    color: #333300;
}

.footer-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.footer-social {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;

    text-align: left;
    margin: auto;
}
.footer-text {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 5;

    text-align: left;
    margin: auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.contact-form .form-control {
    margin-bottom: 1em;
}

.contact-form textarea {
    min-height: 10em;
}

.contact-form .form-control input,
.contact-form .form-control textarea {
    padding: 0.5em;
}

.home-row {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.home-row > .paragraph-flex-left {
    flex-basis: 30%;
    height: auto;
}

.home-row > .paragraph-flex-right {
    flex-basis: 30%;
    height: auto;
}

.flex-item {
    display: flex;
}

.video-container {
    max-width: 1100px;
    height: auto;
    margin-bottom: 10px;
}

.video-container video {
    width: 100%;
    height: 100%;
}


.list-vertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.vertical-item {
    grid-column: span 1;
    margin-bottom: 40px;
}
.vertical-item p {
    margin: 10px 0 10px 0;
}
.vertical-item img {
    max-width: 60%;
    height: auto;
}
.vertical-item iframe {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    .home-row {
        display: block;
        flex-direction: column;
    }

    .home-row img {
        width: 100%;
        height: auto;
    }
}

/* Tablet styles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: unset;
    }

    header, footer, nav {
        grid-column: span 2;
    }

    nav {
        grid-column: span 2;
    }

    .navigation a {
        border: #333300 solid 1px;
        margin: 1px;
    }
    .list-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
        height: auto;
        display: flex;
    }
    .footer-social {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;

        text-align: left;
        margin: auto;
    }
    .footer-text {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;

        text-align: left;
        margin: auto;
    }
}

/* Mobile styles */
@media (max-width: 414px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    header, footer, nav {
        grid-column: span 1;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation li {
        float: none;
    }
    .list-items {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: auto;
        display: flex;
    }
    .footer-social {
        display: none;
    }
    .footer-text {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 2;
        margin: auto;
    }

    .contact-form label,
    .contact-form input,
    .contact-form textarea {
        display: flex;
        width: 100%;
        height: auto;
    }
}
